

<div class="container">
    <h1>I am home component</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos quibusdam dolores eligendi voluptatem dignissimos provident cum ipsum minima mollitia perspiciatis, aut earum quis dolore, ipsam modi quae vel commodi. Laboriosam est deserunt, possimus impedit sequi animi quaerat totam labore ut soluta? Qui nobis placeat neque rerum sed maiores quam autem.</p>

    <button (click)="sayHello()" class="btn btn-success">click me</button>
</div>
