<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <div class="container">
    <h1> This is main component!!!!!!!!!!!!!!</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aspernatur minus provident illo, a vel vitae. Magnam, recusandae vel? Ab consequatur dolor accusantium aliquam, nesciunt aliquid, ea perferendis ipsum aspernatur maxime quod quis pariatur expedita, perspiciatis nemo suscipit ex voluptas assumenda quaerat fugit praesentium vero tempore deserunt. Quis, perspiciatis. Voluptatum.</p>
  </div>

  <!-- <app-home></app-home>
  <app-home></app-home> -->

  <!-- <app-home *ngFor="let i of [1,2,3]"></app-home> print 3 component by loop -->
  <app-home> </app-home>

  <app-login> </app-login>

  <app-about> </app-about>
</body>
</html>