<div class="container">

    <!-- in each row 12 grids -->

    <div class="col-md-6 offset-md-3">

        <div class="card mt-5 border border-0 shadow-lg">
            <div class="card-body">
                <h3 class="my-3"> Login here </h3>

                <form action="#" (ngSubmit)="submitLoginRequest($event)">

                    <!-- email field  -->
                    <div class="mb-3">
                        <label for="name" class="form-label">Email address</label>
                        <input 
                        type="email" 
                        name="username"
                        class="form-control rounded-0"
                        id="username" aria-describedby="emailHelp" 
                        placeholder="Enter your username"
                        [(ngModel)]="loginData.username"
        
                        >
                    </div>

                    <!-- password field  -->

                    <div class="mb-3">
                        <label for="password" class="form-label"> Password </label>
                        <input 
                        type="password" 
                        name="password"
                        class="form-control rounded-0" 
                        id="password" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter your password"
                        [(ngModel)]="loginData.password"
                        >
                    </div>

                    <div class="container ">
                        <button type="submit" class="btn btn-primary m-3"> Login </button>
                        <button class="btn btn-warning "> Reset </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>