

<div class="container">
    <h2> Login here !!!!!!!!</h2>

    <table>
        <tr>
            <td>Enter your name</td>
            <td> <input type="text" placeholder="Enter your name"> </td>
        </tr>
        <tr>
            <td>Enter your email</td>
            <td> <input type="email" placeholder="Enter your email"> </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center;">
                <button>Login</button>
            </td>
        </tr>
    </table>
</div>